

<div class="container">
	<div class="row">
		<% @Blogs.each do |blog| %>
		<div class="col-md-4" id="card_margin">
	    <div class="card" style="width: 18rem;">
	     	<div class="card-body">
	     		<h5 class="card-title"><%=blog.title%></h5>
	     			<p class="card-text"><%= blog.content %></p>
	     			<%= link_to "View", blog_path(blog),class: 'btn btn-outline-primary'  %>
	     			<%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-outline-primary' %>
	     			 <%= link_to 'Delete', blog_path(blog), class: 'btn btn-outline-danger', method: :delete,data: {confirm: "Are you sure you want to delete?"} %>
    		</div>
        </div>
        </div>
        <% end %>
   </div>	
</div>

